/*
.___  ___.      ___       __  .__   __. 
|   \/   |     /   \     |  | |  \ |  | 
|  \  /  |    /  ^  \    |  | |   \|  | 
|  |\/|  |   /  /_\  \   |  | |  . `  | 
|  |  |  |  /  _____  \  |  | |  |\   | 
|__|  |__| /__/     \__\ |__| |__| \__|  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: var(--brown);
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}
:root {
  --white: #f9f4ef;
  --black: #041322;
  --brown: #8c7851;
  --lightbrown: #eaddcf;
  --orange: #f25042;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
}
